<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Issue | Softverse</title>
    <link href = "/public/stylesheets/style.css" type = "text/css" rel = "stylesheet">
    <link rel="icon" type="image/png" href="../public/images/logo.png">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" integrity="sha512-L03kznCrNOfVxOUovR6ESfCz9Gfny7gihUX/huVbQB9zjODtYpxaVtIaAkpetoiyV2eqWbvxMH9fiSv5enX7bw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/atom-one-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
</head>
<div id = "nav">
    <img id = "nav-image" src = "/public/images/logo.png">
    <a href = "/dashboard" class = "nav-button">Dashboard</a>
</div>
<body>
    <div class = "main-wrapper">
        <div class = "create-issue-wrapper">
            <form id = "create-issue-form">
                <input id = "issue-title-input" type = "text" placeholder = "Title" autocomplete = "off">
                <div id = "priority-items-wrapper">
                    <label id = "create-issue-priority-label">Priority: </label>
                    <fieldset id = "priority-radio-wrapper">
                        <button class = "priority-button" id = "low-priority-label">LOW</button>
                        <button class = "priority-button" id = "medium-priority-label">MEDIUM</button>
                        <button class = "priority-button" id = "high-priority-label">HIGH</button>
                    </fieldset>
                </div>
                <label id = "description-md-label">DESCRIPTION.md</label>
                <textarea id = "md-description-area" wrap = "off"></textarea>
                <button id = "create-issue-button">Create</button>
            </form>
            <div id = "preview-window">
                <label id = "preview-label" >Live Preview</label>
                <div id = "preview-viewer">

                </div>
            </div>
        </div>
    </div>
    <script src = "/public/scripts/createIssue.js"></script>
</body>
</html>