<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Issue</title>
    <link href = "/public/stylesheets/style.css" type = "text/css" rel = "stylesheet">
    <link rel="icon" type="image/png" href="../public/images/logo.png">
</head>
<body>
    <div class = "main-wrapper">
        <div class = "index-wrapper">
            <div class = "index-heading-wrapper">
                <div id = "logo-heading-section">
                    <h1 class = "primary-text" id = "index-heading">Open<span class = "color-tag">Issue</span></h1>
                    <img id = "heading-logo" src = "/public/images/logo.png">
                </div>
                <h2 class = "primary-text" id = "index-subheading">An issue tracker based on markdown.</h2>
            </div>
            <div class = "sign-button-wrapper">
                <a id = "sign-in-button" class = primary-text href = "/login">Login</a>
                <a id = "sign-up-button" class = primary-text href = "/signup">Sign Up</a>
            </div>
        </div>
    </div>
</body>
</html>