<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenIssue</title>
    <link href = "/public/stylesheets/style.css" type = "text/css" rel = "stylesheet">
</head>
<body>
    <div class = "main-wrapper">
        <div id = "login-wrapper">
            <div id = "login-form-wrapper">
                <img id = "login-logo" src = "/public/images/logo.png">
                <form id = "login-form" method = "POST" action = "/login" >
                    <label id = "login-title" class = "primary-text">Login</label>
                    <input id = "username-input" name = "username" type="text" placeholder="Username">
                    <label id = "login-username-error"></label>
                    <input id = "password-input" name = "password" type="password" placeholder="Password">
                    <label id = "login-password-error"></label>
                    <a id= "login-submit-button" class = "primary-text" onclick = "formBuffer();">Login</a>
                </form>
            </div>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src = "/public/scripts/login.js"></script>
</body>
</html>