<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrackDown</title>
    <link href = "/public/stylesheets/style.css" type = "text/css" rel = "stylesheet">
</head>
<body>
    <div class = "main-wrapper">
        <div id = "login-wrapper">
            <div id = "login-form-wrapper">
                <form id = "login-form"  method="POST" action = "/login" onsubmit="return loginFormValidity();">
                    <label id = "login-title" class = "primary-text">Login</label>
                    <input id = "username-input" name = "username" type="text" placeholder="Username">
                    <label id = "login-username-error"></label>
                    <input id = "password-input" name = "password" type="password" placeholder="Password">
                    <label id = "login-password-error"></label>
                    <input type="submit" name = "login" value = "Login" id = "login-submit-button">
                </form>
            </div>
        </div>
    </div>

    <script src = "/public/scripts/login.js"></script>
</body>
</html>