<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> | Softverse</title>
    <link href = "/public/stylesheets/style.css" type = "text/css" rel = "stylesheet">
    <link rel="icon" type="image/png" href="../public/images/logo.png">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<div id = "nav">
    <img id = "nav-image" src = "/public/images/logo.png">
    <a href = "/dashboard" class = "nav-button">Dashboard</a>
</div>
<body >
    <div class = "main-wrapper">
        <div id = "project-page-wrapper">
            <div id = "issue-type-button-wrapper">
                <button id = "open-issues-button" onclick="openIssuesOnClick();">Open</button>
                <button id = "closed-issues-button" onclick="closedIssuesOnClick();">Closed</button>
            </div>
            <div id = "issues-wrapper">

            </div>
        </div>
    </div>
    <script src = "/public/scripts/projectPage.js"></script>
    <script src = "/public/scripts/components/projectDetailsSection.js"></script>
    <script src = "/public/scripts/components/issueButton.js"></script>
</body>
</html>