body {
    background-color: #ebebeb;
}

.primary-text {
    font-family: Arial, Helvetica, sans-serif;
}

.color-tag {
    color: #F33F54;
}

/* elements for: index.html */

.index-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-heading-wrapper {
    margin-top: 10vmax;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

#logo-heading-section {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding: 1vh 3rem 0 3rem;
}

#heading-logo {
    height: 7vw;
    width: auto;
    margin: 0;
    padding: 1vh 0 0 10px;
}

#index-heading {
    margin: 0;
    text-align: center;
    font-size: 7vw;
}

#index-subheading {
    text-align: center;
    font-weight: lighter;
    font-size: 1.5vw;
    font-style: italic;
}

.sign-button-wrapper {
    margin-top: 1em;
    display:flex;
    align-items: center;
}  
.sign-button-wrapper a {
    margin-right: 1rem;
}

#sign-in-button {
    margin-top: 1em;
    text-decoration: none;
    color: #000000;
    background-color: #FFFFFF;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    font-size: 1.5vw;
    transition: color, background-color 0.3s;
}

#sign-in-button:hover {
    background-color: #242424;
    color: #FFFFFF;
}

#sign-up-button {
    margin-top: 1em;
    text-decoration: none;
    color: #000000;
    background-color: #FFFFFF;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    font-size: 1.5vw;
    transition: color, background-color 0.3s;
}

#sign-up-button:hover {
    background-color: #F33F54;
    color: #FFFFFF;
}

/* elements for: login.html */

#login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#login-form-wrapper {
    margin-top: 10vmax;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

#login-logo {
    height: 10vh;
    width: 10vh;
    padding: 30px 0 0 0;
}

#login-form {
    padding: 1em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1em;
}

#login-form input[type=text], [type=password] {
    font-size: 1em;
    color: #000000;
    padding: 0.5em;
    border-width: 0 0 3px 0;
    border-radius: 0.1em;
    outline: none;
    text-align: center;
    background-color: #afafaf;
    transition: background-color 0.3s,
                border-color 0.5s;
}

#login-form input[type=text]:hover, [type=password]:hover {
    border-color: #F33F54;
    background-color: #cfcfcf;
}

#login-form input[type=text]:focus, [type=password]:focus {
    border-color: #F33F54;
    background-color: #cfcfcf;
}

#login-submit-button {
    margin-top: 1em;
    text-decoration: none;
    color: #000000;
    background-color: #FFFFFF;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    font-size: 1em;
    transition: color, background-color 0.3s;
    outline: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: none;
}

#login-submit-button:hover {
    background-color: #F33F54;
    color: #ffffff;
}

#login-username-error {
    color: #8b0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#login-password-error {
    color: #8b0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}