/* imports */
@use "../../App.module.scss" as App;

/* mixins */

/* styles */
.title {
    @include App.input_mixin;
    background: #242526;
    padding: 10px;
    width: 100%;
    font-size: 20px;
}

.flair_section {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}